{% extends 'admin/layout_admin.html' %}


{% block javascripts %}
{#    attention il faut importer la bibliotheque chart.js avant de définir l'objet chart#}
    {{ super() }}
   {# <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}" ></script>#}
{% endblock %}

{% block javascripts_head %}
{#    attention il faut importer la bibliotheque chart.js avant de définir l'objet chart#}
{#    <script src="{{ url_for('static', filename='chart.js') }}" ></script>#}
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}

{% block title %}
    <title>visualisation de données</title>
{% endblock %}

{% block body %}
<br>
    <h1>Dataviz des skis - Graphique Interactif</h1>
    <h2>La somme totale du stock est de : {{ somme.total }} €</h2>
    <h4>Vous pouvez ci-dessous sur le graphique voir le détail des stocks en fonction des types de ski:  </h4>
    <div>
      <label for="type_ski">Type de ski :</label>
      <select id="type_ski">
        {% for ski_type in ski_types %}
          <option value="{{ ski_type.id_type }}" {% if loop.index == 1 %}selected{% endif %}>{{ ski_type.libelle_type }}</option>
        {% endfor %}
      </select>
    <p>* Vous pouvez faire dérouler la liste ci-dessus pour sélectionner les détails des stocks en fonction des types de ski </p>
    </div>
    <div>
      <canvas id="chart"></canvas>
    </div>
    <script>
      var ctx = document.getElementById('chart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [],
              datasets: [{
                  label: 'Stock restant(s)',
                  data: [],
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });

      var select = document.getElementById('type_ski');
      select.addEventListener('change', function() {
      var skiType = select.value;
      fetch('/admin/dataviz/etat1?type_ski=' + skiType)
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
        myChart.data.labels = data.labels;
        myChart.data.datasets[0].data = data.values;
        myChart.update();
      });
    });

    var defaultSkiType = select.value;
    fetch('/admin/dataviz/etat1?type_ski=' + defaultSkiType)
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
        myChart.data.labels = data.labels;
        myChart.data.datasets[0].data = data.values;
        myChart.update();
    });


    </script>



{% endblock %}